<html>
    <head>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <meta charset="utf-8">
        <title>Yo mom!</title>
    </head>
    <body>
        <a href="parse-demo.html">
            <img src="terminal-template.png" id="terminal-button" alt="terminal-template">
        </a>
        <a href="hose.html"><img src="gym-hoes.png" id=gym-data></a>
        <br>
        <a href="other-page.html">Go to the other page</a>
        <br><br>
        Do you want to <a href="send-message.html">send a message</a> to the server?
    </body>
    <script src="main.js"></script>
    <style>
        @import "dark-theme.css";
        #gym-data {
            /* thick border with rounded corners */
            border: 5px solid #ccc;
            border-radius: 5px;
            width: 150px;
            height: 150px;
        }
        #terminal-button {
            width: 150px;
            height: 150px;
            border: none
        }
    </style>
</html>