<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send a message to the server!</title>
</head>
<body>
<input type="text" id="message-input">
<button type="button" onclick="submit()">Submit</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="main.js"></script>
<script>
    function submit() {
        let input = document.getElementById("message-input");
        sendMessage(input.value);
        input.value = "";
    }
</script>
</body>
<style>
    #message-input {
        height: 30px;
        border: 1px solid black;
    }
</style>
</html>